.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
  margin-top: 10px;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe-wrap > div {
  float:left;
  width:100%;
  position: relative;
}
.con_text{
	background-color: #e5e5e5;
	width: 100%;
	height: 50px;
	margin-top: 12px;
	line-height: 50px;
	float: left;

}
.text{
	padding-left: 20px;
	padding-right: 20px;
}

.left{
	float: left;
}
.right{
	float: right;
}
.con_pic{
	width: 230px;
	//height: 400px;
	overflow: hidden;
	background-color: #e5e5e5;
	float: left;

}
.con_tex{
	width: 200px;
	//height: 115px;
	margin: 10px auto;
}
.addpic{
	margin-top: 12px;
	float: left;
}
.addpic_img{
	width: 100%;
	height: 190px;
}
table{
	width: 980px;
	border-collapse: collapse;
}
.con_2pic{
	width: 475px;
	overflow: hidden;
	float: left;
}
#con_pic{
	margin-left: 15px;
}
.con_end{
	margin-top: 12px;
	width: 100%;
	height: 250px;
	float: left;
}
.con_end_head{
	width: 100%;
	height: 48px;
	
	background-repeat: no-repeat;
	background-position: center;
	background-image:url('.././img/img8.png');
}
.con_end_con{
	overflow: hidden;
	width: 100%;
	height: 200px;
	background-color: #e5e5e5;
}
.con_text img{
	margin-top: 15px;
	margin-left: 16px;
}
.second{
	margin-top: 12px;
	overflow: hidden;
}
.con_left{
	margin-top: 5px;
	height: 190px;
	width: 50%;
	overflow: hidden;
	float: left;
	border-right-color: #cccccc;
	border-right-style: solid;
	border-right-width: 1px;
}
.con_right{
	height: 190px;
	width: 49%;
	float: left;
	overflow: hidden;
}
.con_left_t:before{
    content:"00";margin-right: 10px;
background-color: #443375;color:#443375 
}
.con_left_center,.con_right_center{
	margin: 5px auto;
	width: 440px;
	height: 185px;
}
.con_right_center{
	margin-top: 20px;
}
.con_left_center li{
	margin-top: 10px;
}